* {
  box-sizing: border-box;
  border: 0;
  padding: 0;
}
body {
  background-color: rgb(246, 173, 207);
  background: linear-gradient(
    90deg,
    rgba(246, 173, 207, 1) 0%,
    rgba(181, 247, 172, 1) 100%
  );
}
.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: auto;
  margin-top: 20%;
}
.grid_elements {
  background-color: lightblue;
  height: 200px;
  width: 200px;
}
#div2 {
  background-color: lightcoral;
}
.container {
  background-color: white;
  width: 600px;
  height: 330px;
  padding: 10px;
  column-gap: 10px;
}

#el1 {
  background-color: rgb(192, 165, 165);
}
#el2 {
  background-color: lightcoral;
}
#el3 {
  background-color: lightgreen;
}
.img {
  width: 100%;
}

.text {
  display: grid;
  grid-template-columns: 1fr;
  margin: 10px;
  margin-bottom: 5px;
  font-size: large;
}
